*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.wrm
*.bst
*.bb
*.pdf
*.bib.bak
*.out
*.fdb_latexmk
*.fls
*.ilg
*.nlo
*.nls
*.toc
*~
.DS_Store

# Matlab data files
*.mat
*.asv
# Matlab cache
slprj/

# Generated figures
*.eps
*.png
*.jpg
*.avi
